.header-sticky-menu {
    display: flex;
    align-items: center;
    border-bottom: none;
    box-sizing: border-box;
    color: rgb(48 48 48);
    font-family: TSTAR-PRO-Bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 24px;
    line-height: 20px;
    width: 763.383px;
    flex: 1 1 0%;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
}

.header-brand-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.subheader-item a.menu {
    display: flex;
    align-items: center;
    padding: 0 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(48 48 48);
}

.subheader-item a.menu:hover {
    color: red;
}

.hero-icon {
    margin-right: 4px;
}